<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css" />
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    <div class="container">
        <h1>What chat room would you like to enter?</h1>
        <div class="field has-addons">
            {% comment %} <p class="control is-expanded">
                <input id="room-user-input" type="text" class="input" placeholder="John Due">
            </p> {% endcomment %}
            <p class="control is-expanded">
                <input id="room-name-input" type="text" class="input" placeholder="Channel name...">
            </p>
            <p class="control">
                <button id="room-name-submit" type="button" class="button">
                    Enter
                </button>
            </p>
        </div>
    </div>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.key === 'Enter') {
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</body>
</html>