<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=send" />
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <div class="container" style="height: 98vh; display: flex; flex-direction: column;">
        <section class="hero" style="flex: 1; overflow-y: auto;">
            <div class="hero-body">
                <div id="chat-log"></div>
            </div>
        </section>

        <div class="field has-addons" style="flex-shrink: 0;">
            <p class="control is-expanded">
                <input id="chat-message-input" class="input" type="text" placeholder="Message..." />
            </p>
            <p class="control">
                <button id="chat-message-submit" type="button" class="button">
                    <span class="material-symbols-outlined">
                        send
                    </span>
                </button>
            </p>
        </div>
    </div>


    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data.message);
            document.querySelector('#chat-log').innerHTML += `<div class="box">${data.message}</div>`;
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>